html { height: 100%; }
body { height: 100%; }
#mapid {
	height: 100%;
	z-index: 1;
}
#button_div {
	z-index: 2;
	position: absolute;
	top: 20px;
	right: 20px;
}
#map-wrapper {
	height: 100%;
}
button { 
	height: 50px;
	width: 100px;
}
	