html { height: 100%; }
body { height: 100%; }

.leaflet-container {
  cursor: default !important;
}

#mapid {
	height: 100%;
	z-index: 1;
}

.toolbar {
	z-index: 2;
	position: absolute;
	top: 20px;
	right: 20px;
}

.tools {
	height: 50px;
	width: 100px;
}

.workplace {
	height: 100%;
	width: 20%;
	float: right;
	box-sizing: border-box;
}

.wp {
	height: 50%;
	padding: 3px;
	border: solid;
	background-color: #efefef;
}

.layer-button {
	height: 30px;
	width: 100%;
	border: none;
}

#map-wrapper {
	height: 100%;
	width: 80%;
	float: left;
	position: relative;
}

#popup-window {
	z-index: 2;
	position: fixed;
	height: 300px;
	width: 450px;
	top: 50%;
	right: 50%;
	left: 50%;
	bottom: 50%;
	margin: -150px 0 0 -225px;
	border: 2px gray solid;
	border-radius: 5px;
	background-color: rgba(245,230,230,0.9);
	display: none;
}
#close_btn { 
	z-index: 3;
	position: absolute;
	top: 10px;
	right: 10px;
}
	