html { height: 100%; }
body { height: 100%; }

.leaflet-container {
  cursor: default !important;
}

#mapid {
	height: 100%;
	z-index: 1;
}

#functions {
	z-index: 2;
	position: fixed;
	top: 20px;
	right: 20px;
}

#functions button {
	height: 50px;
	width: 100px;
}

#map-wrapper {
	height: 100%;
}

#popup-window {
	z-index: 2;
	position: fixed;
	height: 300px;
	width: 450px;
	top: 50%;
	right: 50%;
	left: 50%;
	bottom: 50%;
	margin: -150px 0 0 -225px;
	border: 2px gray solid;
	border-radius: 5px;
	background-color: rgba(245,230,230,0.9);
	display: none;
}
#close_btn { 
	z-index: 3;
	position: absolute;
	top: 10px;
	right: 10px;
}
	