html { height: 100%; }
body { height: 100%; }

.leaflet-container {
  cursor: default !important;
}

#mapid {
	height: 100%;
	z-index: 1;
}

.toolbar {
	z-index: 2;
	position: fixed;
	top: 0px;

	background-color: Gainsboro;
	height: 10%;
	width: 100%;
	
}
.dropbtn {
    background-color: Gainsboro;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.menu {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
	
	width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.menu:hover .dropdown-content {
    display: block;
}

.menu:hover .dropbtn {
    background-color: #f1f1f1;
}



.tools {
	height: 50px;
	width: 100px;
}

.workplace {
	position: relative;
	top:10%;
	height: 90%;
	width: 20%;
	float: right;
	box-sizing: border-box;
}

.wp {
	height: 50%;
	border: solid;
	background-color: Gainsboro;
	box-sizing: border-box;
	overflow: auto;
}

.layer-button {
	height: 30px;
	width: 100%;
	border: none;
}

.layer_box_content {
	height: 30px;
	width: 60%;
	/*padding-right: 80px;*/
}

.layer_delete {
	height: 30px;
	width: 20%;
}
.feature_title {
	padding: 5px;
	border: solid;
	border-width: 0 0 2px 0;
	background-color: lightgray;
	border-color: gray;
	display: grid;
	grid-column-gap: 2px;
}

.feature_div {
	padding: 5px;
	border: solid;
	border-width: 0 0 2px 0;
	border-color: gray;
	display: grid;
	grid-column-gap: 2px;
}

#df_container {
	padding: 5px;
	display: grid;
	grid-row-gap: 2px;
	grid-template-columns: auto;
}

#map-wrapper {
	height: 90%;
	width: 80%;
	float: left;
	position: relative;
	top:10%;
}

#popup-window {
	z-index: 2;
	position: fixed;
	height: 300px;
	width: 450px;
	top: 50%;
	right: 50%;
	left: 50%;
	bottom: 50%;
	margin: -150px 0 0 -225px;
	border: 2px dimgray solid;
	border-radius: 3px;
	background-color: Gainsboro;
	display: none;
	flex-direction: column;
}
#popup-content {
	flex: 1 1 auto;
	padding: 10px;
 	overflow: auto;
}

#popup-toolbar { 
	flex: 0 1 25spx;
	display: flex;
	flex-direction: row-reverse;
	padding: 2px;
	width: 100%;
	box-sizing: border-box;
}

#popup-footbar { 
	flex: 0 1 40px;
	display: flex;
	flex-direction: row-reverse;
	padding: 2px;
	width: 100%;
	box-sizing: border-box;
}

#layer-ctrl {
	display: grid;
	grid-template-columns: 4fr 1fr 1fr;
	width: 100%;
	height: 50px;
	padding: 5px;
	box-sizing: border-box;
}

#new_layer, #layer-up, #layer-down  {
	height: 100%;
	width: 100%;
}

.todotlist_item {
	display: grid;
	grid-template-columns: 0.5fr 5.5fr 1fr 1fr;
	width: 100%;
	padding: 5px;
	border-style: solid;
	border-width: 0 0 2px 0;
	border-color: gray;
	box-sizing: border-box;
}

.layer-fun {
	height: 30px;
	width: 100%;
}
